# Ignore everything by default
*

# Allow folder traversal
!*/

# Allowed files
!.gitignore
!README.md
!docker-compose.yml
!env.example
!gluetun-sync-port-mod/
!gluetun-sync-port-mod/gluetun_config.toml.example
!gluetun-status/
!gluetun-status/app.py

# sub-git ignore
profilarr/db/
