COMPOSE_PROJECT_NAME=plex-stack
COMPOSE_PROFILES=flaresolverr,sabnzbd
COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml
USER_ID=1000
GROUP_ID=1000
TIMEZONE="America/Chicago"
CONFIG_ROOT="."
DATA_ROOT="/mnt/media"
DOWNLOAD_ROOT="/mnt/media/torrents"
HOSTNAME="media.yourdomain.com" #used as the base domain for most apps (media.yourdomain.com/sonarr, etc.)
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=SecretPassword
DNS_CHALLENGE=true
DNS_CHALLENGE_PROVIDER=cloudflare
LETS_ENCRYPT_CA_SERVER="https://acme-v02.api.letsencrypt.org/directory"
LETS_ENCRYPT_EMAIL="youremail@domain.com"
CLOUDFLARE_EMAIL="youremail@domain.com"
CLOUDFLARE_DNS_API_TOKEN="cloudflare_dns_token"
CLOUDFLARE_ZONE_API_TOKEN="cloudflare_zone_token"
SONARR_API_KEY=
RADARR_API_KEY=
PROWLARR_API_KEY=
BAZARR_API_KEY=
SABNZBD_API_KEY=
VPN_PUBLIC_KEY=
VPN_PRIVATE_KEY=
VPN_LAN=[subnet for your VPN network]
VPN_ENDPOINT=
VPN_PORT=
VPN_SERVICE_PROVIDER=
VPN_PORT_FORWARDING_PROVIDER=
GSP_GTN_API_KEY=     #https://github.com/t-anc/GSP-Qbittorent-Gluetun-sync-port-mod
PLEX_CLAIM=
MAM_ID=
HOMARR_ENCRYPTION=
#these are for setting up authentik as the login for Homarr
AUTHENTIK_URL=
HOMARR_AUTHENTIK_NAME=
HOMARR_AUTHENTIK_CLIENT_ID=
HOMARR_AUTHENTIK_SECRET=
HOMARR_OIDC_ISSUER=
HOMARR_OIDC_URI=
#these apps have issues as paths (domain.com/plex, etc.) so they are set directly
OVERSEERR_URL=
PROFILARR_URL=
PLEX_URL=
HOMARR_URL=
DISPATCHARR_URL=
SEERR_URL=
ABS_URL=
DASH_URL=
